<% var menuList = [
	{
		title:"账号管理",
		children:[
			{
				href:"../../views/user/my-account.html",
				title:"我的账户",
			},{
				href:"../../views/user/person-info.html",
				title:"会员信息",
			},{
				href:"../../views/user/personage-aprove.html",
				title:"会员认证",
			},{
				href:"../../views/user/save-address.html",
				title:"地址管理",
			}],
		
	},{
		title:"业务管理",
		children:[
			{
				href:"../../views/user/no-approve-project.html",
				title:"项目融资",
				
			},{
				href:"../../views/user/noapprove-money.html",
				title:"项目投资",
			},
		]
	},{
		title:"会员服务",
		children:[
			{
				href:"../../views/user/my-sponsor-project-talk.html",
				title:"我发起的约谈",
				
			},{
				href:"../../views/user/my-receive-talk.html",
				title:"我收到的约谈",
			},{
				href:"../../views/user/my-project-attention.html",
				title:"我的关注",
			},{
				href:"../../views/user/system-message.html",
				title:"系统消息",
			},
		]
	}]%>
  

   <div class="sideBarLeft pull-left">
  <% for(var i = 0;i<3;i++){ %>
   <div class="account-manage">
        <span><%=menuList[i]["title"]%></span>
        <ul>
				<% for(var j = 0;j<menuList[i]["children"].length;j++){ %>
				<%	if(j==active[1] && i==active[0]){ %>
						<li  class="active"><a href='<%=menuList[i]["children"][j]["href"]%>'><%=menuList[i]["children"][j]["title"]%></a></li>
				<%	} else {  %>
						<li><a href='<%=menuList[i]["children"][j]["href"]%>'><%=menuList[i]["children"][j]["title"]%></a></li>

				<%	} } %>
           
        </ul>
    </div>
    <% } %>
</div>
<!--
   <div class="sideBarLeft pull-left">
    <div class="account-manage">
        <span>账户管理</span>
        <ul>
            <li  class="active"><a href="../../views/user/my-account.html">我的账户</a></li>
            <li><a href="../../views/user/person-info.html">会员信息</a></li>
            <li><a href="../../views/user/personage-aprove.html">会员认证</a></li>
            <li><a href="../../views/user/save-address.html">地址管理</a></li>
        </ul>
    </div>
    <div class="bussiness-manage">
        <span>业务管理</span>
        <ul>
            <li><a href="../../views/user/no-approve-project.html">项目融资</a></li>
            <li ><a href="../../views/user/noapprove-money.html">项目投资</a></li>
        </ul>
    </div>
    <div class="member-serve">
        <span>会员服务</span>
        <ul>
            <li><a href="../../views/user/my-sponsor-project-talk.html">我发起的约谈</a></li>
            <li><a href="../../views/user/my-receive-talk.html">我收到的约谈</a></li>
            <li><a href="../../views/user/my-project-attention.html">我的关注</a></li>
            <li><a href="../../views/user/system-message.html">系统消息</a></li>
        </ul>
    </div>
</div>-->
